@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 100% 97%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 227 93% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 67% 98%;
    --secondary-foreground: 0 0% 10%;
    --muted: 217 67% 98%;
    --muted-foreground: 220 9% 45%;
    --accent: 225 100% 93%;
    --accent-foreground: 227 93% 63%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 90%;
    --input: 215 28% 90%;
    --ring: 227 93% 63%;
    --chart-1: 256 73% 70%;
    --chart-2: 203 100% 74%;
    --chart-3: 158 60% 47%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 227 93% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 100% 93%;
    --sidebar-accent-foreground: 227 93% 63%;
    --sidebar-border: 215 28% 90%;
    --sidebar-ring: 227 93% 63%;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 215 28% 90%;
    --card: 220 10% 13%;
    --card-foreground: 215 28% 90%;
    --popover: 220 10% 13%;
    --popover-foreground: 215 28% 90%;
    --primary: 227 93% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 215 28% 90%;
    --muted: 220 10% 20%;
    --muted-foreground: 220 9% 45%;
    --accent: 227 93% 20%;
    --accent-foreground: 215 28% 90%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 227 93% 63%;
    --chart-1: 256 73% 70%;
    --chart-2: 203 100% 74%;
    --chart-3: 158 60% 47%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 10% 8%;
    --sidebar-foreground: 215 28% 90%;
    --sidebar-primary: 227 93% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 227 93% 20%;
    --sidebar-accent-foreground: 215 28% 90%;
    --sidebar-border: 215 28% 25%;
    --sidebar-ring: 227 93% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
